<html>
  <head>
    <title>EMO CIPHER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
	<link href='/static/css/main.css' rel='stylesheet' type='text/css' />
  </head>

  <body bgcolor=black><center>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="wrapper">
  <h1>EMO CIPHER:</h1>
  <h4><p>Correio Elegante Cifrado com Emoticons do GAROA HC.</p></h4>
  <form class="form" method="POST" action="/cipher">
    <textarea name="text" rows="3" cols="66" maxlength="160">MSG S3CR3T4...</textarea>
    </font>
    <input type="submit" class="submit" value="CIFRAR" onclick="document.body.style.cursor='wait'">
  </form>
</div>
<p class="optimize">
  GAROA HC - BSIDES LATAM 2016.
</p>
	</center>
  </body>
</html>